export(copynumbR.boxplot)
export(copynumbR.gistic.clone.eset)
export(copynumbR.gistic.armplot)
export(copynumbR.gistic.focal)
export(copynumbR.gistic.genes.band)
export(copynumbR.gistic.genes.region)
export(copynumbR.gistic.read.genes)
export(copynumbR.gistic.read.broad)
export(copynumbR.gistic.read.lesions)
export(copynumbR.gistic.write.arrayfile)
export(copynumbR.eset)
export(copynumbR.heatmap)
export(copynumbR.plot)
export(copynumbR.read.segmented)
export(copynumbR.tcga.write.segmented)
export(theme_classic2)
import(ggplot2)
import(xts) 
importFrom(TTR,SMA)
import(DNAcopy)
importFrom(stringr,str_c)
import(bioDist) 
import(plyr) 
import(RColorBrewer) 
import(scales)
import(grid)
import(ggdendro)
import(biomaRt)
import(Ringo)
